@keyframes spill {
    from { background-position: -34px;}
    
    to { background-position: -1080px;}
   }
  #still-cup {
    background: url(../png/full2.png);
    height: 166px;
    width: 145px;
    animation: spill .8s steps(7) forwards ;
     }