body {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 500px 500px;
}
a {
    height: 200px;
    width: 200px;
    animation-play-state: running;
}